@font-face {
    font-family: "aboreto";
    src: url(../fonts/Aboreto/Aboreto-Regular.ttf);
}
html{
    margin:2em;
    font-family: "aboreto", helvetica, sans-serif;
}

body{
    background-color: beige;
    padding:4em;
}

/* Navigation bar styling*/

nav{
    padding-bottom: 3rem;
}

ul{ 
    list-style: none;
    display:flex;
}
/* Header styling*/

header{
    margin-top:3em;
    margin-bottom:5em;
    text-align:center;
}

/* Gallery styling*/

.gallery{
    padding:3em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height:200vh;
    background-color: rgb(183, 198, 198);
}

img{
    max-width:100%;
    width:100vw;
    height:40vh;
}

/* Footer styling*/

footer{
    padding-top:1rem;
    padding-left:0;
}
